.addNewTag, .addExistingTag {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    cursor: pointer;
    display: flex;
}

.addNewTag {
    border-bottom: 1px solid lightgrey;
}

.addExistingTag:hover, .addNewTag:hover {
    background-color: lightblue;
}